@import "../../styles/base/colors.scss";

.Grid :global {
  @apply w-full overflow-hidden relative h-full text-blue-dark m-auto;

  .card-bg {
    @apply min-h-fit;

    &:not(.row-2) {
      box-shadow: inset -10px 40px 0px 0px #26A1FF, inset -10px -10px 0px 0px #26A1FF;
      padding: 0 10px 40px 0;

      &:before {
        content: "";
        position: absolute;
        top: 40px;
        bottom: 22px;
        left: 10px;
        right: 30px;
        border-radius: 10px;
        z-index: -1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
      }

      table {
        thead th {
          @apply text-left px-3 h-10;
        }
      }
    }

    &.row-2 {
      box-shadow: inset -10px 48px 0px 0px #26A1FF, inset -10px -10px 0px 0px #26A1FF;
      padding: 0 10px 48px 0;

      &:before {
        content: "";
        position: absolute;
        top: 48px;
        bottom: 22px;
        left: 10px;
        right: 30px;
        border-radius: 10px;
        z-index: -1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
      }

      table {
        thead {
          tr {
            &:first-child {
              th {
                @apply pt-1 h-6 px-3;
              }
            }

            &:last-child {
              th {
                @apply pb-1 h-6 px-3;
              }
            }

            th.border-br-2 {
              @apply relative;

              &:after {
                content: "";
                display: block;
                width: 1px;
                height: 60%;
                padding: 0;
                margin: 0;
                background-color: white;
                position: absolute;
                right: -1px;
                bottom: 0;
              }
            }

            th.border-tr-2 {
              @apply relative;

              &:after {
                content: "";
                display: block;
                width: 1px;
                height: 60%;
                padding: 0;
                margin: 0;
                background-color: white;
                position: absolute;
                right: -1px;
                top: 0;
              }
            }
          }
        }
      }
    }

    table {
      tbody {
        tr {
          td {
            @apply h-12 px-3;
          }
        }

        tr:hover {
          @apply bg-off-white;
        }
      }
    }

    .grid-footer {
      margin-bottom: -25px;

      &::before {
        content: "";
        position: relative;
        top: 0px;
        left: -14px;
        z-index: -1;
        box-shadow: rgba(0, 0, 0, 0.2) 0px -3px 4px;
        width: 101.5%;
        height: 4px;
        display: inline-block;
      }
    }
  }

}