$sidebarWidth: 180px;
$sidebarCollapsedWidth: 95px;
$iconWidth: 48px;

.AthleteNav :global {
    @apply p-5 transition-all duration-500 ease-in-out left-0 top-0 fixed h-full bg-off-white shadow-lg z-10 font-semibold;
    width: $sidebarCollapsedWidth;
    .user-name {
        @apply flex flex-col gap-2 text-center mb-5;
        .initial {
            @apply bg-black text-white uppercase font-bold rounded-full text-2xl m-auto;
            width: $iconWidth;
            height: $iconWidth;
            line-height: $iconWidth;
        }
        .firstname {
            @apply uppercase text-gray-400;
        }
    }
    .logo {
        @apply my-3 block h-auto w-full;
        @apply transition-all duration-200 ease-in;
        // animation: rotate-shrink 1.5s ease-in-out both;
        max-height: 40px;
    }
    .nav {
        @apply flex flex-col gap-6 items-center;
        .menu-group {
            @apply relative m-0 flex flex-col gap-4;
        }
        ul {
            @apply flex flex-col gap-0;
            li {
                @apply w-12 h-12 rounded-full relative opacity-50;
                a,
                .btn-link {
                    @apply w-full h-full block;
                    span {
                        @apply hidden;
                    }
                }
                &.current {
                    @apply bg-center bg-no-repeat bg-contain opacity-100 drop-shadow-medium mb-2;
                    background-image: url(/images/backgrounds/tag-x-circle.svg);
                }
                &:hover,
                &:focus {
                    @apply opacity-100;
                }
            }
        }
    }

    .icon {
        @apply bg-contain bg-center bg-no-repeat w-full h-full;
        background-image: url(/icons/blue/home.svg);
        background-size: 22px;
        &.awards {
            background-image: url(/icons/blue/trophy.svg);
        }
        &.podium {
            background-image: url(/icons/blue/podium.svg);
        }
        &.search-stats {
            background-image: url(/icons/blue/search-stats.svg);
        }
        &.settings {
            background-image: url(/icons/blue/cog.svg);
        }
        &.help {
            background-image: url(/icons/blue/help.svg);
        }
        &.logout {
            background-image: url(/icons/blue/logout.svg);
            background-size: 20px;
        }
    }

    .spacer {
        .side-button {
            @apply relative text-white bg-blue-brand p-3 rounded-r-lg uppercase 
            drop-shadow-medium;
            transition: all 0.3s ease-in-out;
            width: 60px;
            height: 150px;
            left: -40px;
            span {
                @apply transform -rotate-90;
                @apply text-lg block absolute;
                transform-origin: 32% 122%;
                height: 20px;
                width: 128px;
            }
            &:hover {
                left: -20px;
            }
        }
    }

    .country-icon {
        @apply drop-shadow-medium border-gray-200 border-4 rounded-full;
        width: $iconWidth;
        height: $iconWidth;
    }

    .vertical-logo {
        svg {
            @apply w-auto block;
            height: 110px;
        }
    }
}
