.header :global {
  @apply bg-transparent pr-5 pt-1 pb-3 text-white;
  .wrap {
    @apply flex items-center justify-between gap-4;
  }
  nav {
    @apply mr-0;
    button {
      @apply block;
      svg {
        @apply h-5 w-5;
      }
    }
    .user-name {
      @apply text-md;
    }
  }
  .search-input {
    @apply relative flex flex-1 flex-row items-center p-0;
    width: 100%;
    margin-left: 7px;
    svg {
      @apply absolute h-3 w-3 text-white;
    }
    input {
      @apply block w-full border-0 bg-transparent
      bg-cover bg-left-bottom bg-no-repeat pl-6
      text-sm text-white placeholder-white
      outline-none;
      background-image: url(/images/faded-line.png);
      background-size: 130% 4px;
    }
  }
}
