.VideoLink :global {
  .box-input {
    @apply flex flex-row items-center justify-center mb-3;
    @apply w-full border border-gray-400;
    svg {
      @apply w-6 h-auto opacity-60 my-auto mx-3;
    }
    input {
      @apply w-full border-none placeholder:opacity-80 placeholder:text-base;
    }
  }
  .YoutubeEmbed {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
