body {
  @apply font-body text-xs text-gray-brand;
}

h1,
h2,
h3,
h4 {
  @apply font-title;
}

ul {
  li {
    > a {
      @apply font-title;
    }
  }
}

label {
  span {
    @apply font-title;
  }
  @apply font-body;
}

button,
.button {
  @apply font-title;
  span {
    @apply font-title;
  }
}

[class*="ButtonLink_"] {
  @apply font-title;
}

.btn {
  @apply rounded-md py-1 px-10 uppercase text-white shadow-md;
  @extend .bg-blue-gradient;
  &.grey {
    @extend .bg-grey-gradient;
  }
  &.blue-outline {
    @apply bg-white border-blue-brand flex flex-row items-center bg-none border shadow-none text-blue-brand px-5;
    svg {
      @apply w-5 h-auto opacity-60 my-auto mr-3;
    }
    &:disabled {
      opacity: 0.5;
    }
  }
  &.dark-blue {
    @apply bg-blue-dark bg-none;
  }
  &.with-icon {
    @apply flex flex-row gap-1 items-center py-1 px-2 capitalize;
  }
}

input:focus {
  box-shadow: none !important;
}

.content {
  h1,
  h2,
  h2,
  h3 {
    @apply font-semibold text-blue-dark;
  }
  h1 {
    @apply text-2xl leading-none font-bold tracking-normal;
  }
  h2 {
    @apply text-xl leading-none;
  }
  h3 {
    @apply text-lg;
  }
}

.capsule {
  @apply text-xs uppercase p-0 px-2 rounded-lg z-10 font-semibold font-title;
  @apply text-black bg-green-light;
  left: 10px;
  top: 10px;
  &.gray {
    @apply bg-gray-200;
  }
  &.orange {
    @apply bg-orange;
  }
  &.peach {
    @apply bg-peach;
  }
  &.blue {
    @apply bg-blue-brand;
  }
  &.small {
    @apply text-xxs font-normal text-blue-dark;
  }
}
